<p><b>About me</b></p>
<hr>



<br><br>
<br>
<br>
<br>

<p><b>Skills</b></p>
<hr>
<div>
<circle-progress
  [percent]="70"
  [radius]="50"
  [subtitle]="['Java']"
  [subtitleFontSize]="20"
  [titleFontSize]="12"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="50"
  [subtitle]="['Spring']"
  [subtitleFontSize]="20"
  [titleFontSize]="12"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="75"
  [radius]="50"
  [subtitle]="['Hibernate']"
  [subtitleFontSize]="20"
  [titleFontSize]="12"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
<br>
<circle-progress
  [percent]="65"
  [radius]="50"
  [subtitle]="['Angular']"
  [subtitleFontSize]="20"
  [titleFontSize]="12"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#FF6347'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="50"
  [subtitle]="['DB']"
  [subtitleFontSize]="20"
  [titleFontSize]="12"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#FDB900'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<mat-accordion multi="true">
  <mat-expansion-panel color="primary" panelOpenState="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Skills </mat-panel-title>
      <mat-panel-description>
        Deatailed proficiency
      </mat-panel-description>
    </mat-expansion-panel-header>
<div>ye nahi dikhega</div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>

</mat-accordion>
